{% extends 'menus/base.html' %}

{% block title %}MY CART{% endblock %}

{% block content %}
<style>
    .button{
        background-color: blue;
        color:white;
        padding:210px 4px;
        border-radius:10px;
    }
</style>

<h2 class="font-semibold mx-4">MY CART</h2>

{% if cart and cart.items.exists %}
<ul class="space-y-4">
    {% for item in cart.items.all %}
    <li class="flex items-center p-4">

        {% if item.product.image %}
        <img src="{{ item.product.image.url }}" 
             alt="{{ item.product.name }}" 
             class="w-24 h-24">
        {% endif %}

        <div class="flex-grow ml-4">
            <h3 class="font-semibold text-lg">{{ item.product.name }}</h3>

            <p class="text-indigo-600">Price: {{ item.product.price }}</p>
            <!--<p class="text-gray-600">Quantity: {{ item.quantity }}</p>-->
<button onclick="decreaseQty()">-</button>
<input type="text" id="qty" value="1" readonly>
<button onclick="increaseQty()">+</button>

<script>
function increaseQty() {
    let qty = document.getElementById("qty");
    qty.value = parseInt(qty.value) + 1;
}

function decreaseQty() {
    let qty = document.getElementById("qty");
    if (parseInt(qty.value) > 1) {
        qty.value = parseInt(qty.value) - 1;
    }
}
</script>

            <form action="{% url 'cart:remove_item' item.id %}" method="post">
                {% csrf_token %}
                <button type="button">Remove</button>
            </form>
        </div>
        <br>
<a href="{% url 'cart:cart_view'%}">cartview</a>


    </li>
    {% endfor %}
</ul>

<p class="mx-4 mt-4 font-bold">
    Total price: ${{ cart.get_total_price }}
</p>

{% else %}

<p class="mx-4 text-gray-600">Your cart is empty.</p>
{% endif %}
<form action="{% url 'orders:order_create' %}" method="post">
    {%csrf_token%}
    
    <button type="submit">order now</button>

</form>
<br>



{% endblock %}
