{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <title>DAIRY</title>
</head>
<body>
    <footer>
        <!-- Top bar -->
        <div class="foot-panel1"><a href="#top">Back to top</a></div>

        <!-- Logo -->
        <div class="footer-logo">
            <a href="/">
            <img src="{% static 'images/logo.jpg' %}" alt="logo"/>
            </a>
        </div>
    
        <!-- Navigation links -->
        <div class="foot-panel2">
            <ul>
                <li><a href="/">Products</a></li>
            </ul>
        </div>

        <!-- Social links -->
        <div class="footer-links">
            <a href="#">Instagram</a> |
            <!--<a href="https://wa.me/9897654342?text=Hello%20I%20want%20to%20order"
   target="_blank"
   style="position:fixed; bottom:20px; right:20px; background:#25D366; color:white; padding:15px; border-radius:50%; text-decoration:none;">
   💬
</a>-->

            | <a href="#">Facebook</a>
        </div>

        <!-- Bottom bar -->
        <div class="footer-bottom">
            <p>&copy; 2026 All Rights Reserved</p>
            <p>open 6am-9am 6pm-8:30| Address: Guru Ramdas Dairy, Doda|contactno:8568980040</p>
        </div>
    </footer>
</body>
</html>
