{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>DAIRY</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="icon" href="{% static 'favicon.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
<nav class="navbar ">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.jpg' %}" alt="logo" height="45">
    </a>

    <!-- Search -->
    <form method="GET" action="{% url 'menus:product_list' %}" class="d-flex mx-3">
        <input
            type="text"
            name="q"
            class="form-control me-2"
            placeholder="Search products"
            value="{{ request.GET.q }}"
        >
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <!-- Menu -->
    <ul >
        <li class="nav-item">
            <a class="nav-link" href="/">Products</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'menus:category_list' %}">
                Collection
            </a>
        </li>
        

        <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                <i class="fa-solid fa-cart-shopping"></i> Cart
            </a>
        </li>
    </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
